<plugin name='taggable' version='0.5' grailsVersion='1.1 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>Taggable Plugin</title>
  <description>\
A plugin that adds a generic mechanism for tagging data
</description>
  <documentation>http://grails.org/Taggable+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.taggable.Tag</resource>
    <resource>org.grails.taggable.TagLink</resource>
    <resource>org.grails.taggable.TestDomain</resource>
    <resource>org.grails.taggable.TaggableService</resource>
    <resource>org.grails.taggable.TagsTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='hibernate' version='1.1 &gt; *' />
  </dependencies>
</plugin>